.container{
  display: flex;
  flex-wrap: wrap;
}
.container-header{
  display: flex;
  flex-wrap: wrap;
}
.complementos{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.title-p{
  margin-bottom: 1%;
}
.ranking-title{
  margin-bottom: 3%;
}
.data-container{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  border: 1px black solid;
}
.ranking{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}
.div-ranking{
  margin: 1%;
}
.head{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.volver{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-bottom: 3%;
}